# IntelliJ Run Configuration
# Active profiles: local
# Working directory: rule-service 저장소 루트

SERVER_PORT=8081

# Discovery Service를 함께 실행할 때 true로 변경
EUREKA_ENABLED=false
EUREKA_URL=http://localhost:8761/eureka/

# copyme
SENSOR_BROKER_URL=
SENSOR_CLIENT_ID=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=